@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

#navbar .container-nav {
  display: flex;
  justify-content: space-between !important;
}
#navbar .me-auto {
  margin-left: auto;
  margin-right: auto !important;
}

#navbar .title {
  font-weight: 300;
  letter-spacing: -0.07em;
}
#navbar .nav {
  position: inherit !important;
}
#navbar .symbol {
  font-weight: 700;
}
/* Circle Static */
#circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

#circle .circle-svg {
  width: 4.3vw;
  font-weight: 800;
  letter-spacing: 0.4em;
  font-size: large;
}

#circle .center-text {
  font-family: monospace;
  font-size: 1.4rem;
  font-weight: 700;
  text-anchor: middle;
  dominant-baseline: middle;
}
#circle .rotating-text {
  animation: rotateOut 10s linear infinite;
}
#circle .rotating-text:hover {
  animation: none;
}

@keyframes rotateOut {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
  }
  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 200deg);
    transform: rotate3d(0, 0, 1, 200deg);
  }
}
@media screen and (max-width: 993px) {
  #navbar .navbar-toggler {
    display: none !important;
  }
  #navbar .navbar-expand-lg {
    flex-direction: row !important;
  }
}
